.margin-container {
  padding: 1rem 20%;
}

.bg-grey {
  background-color: #333;
}

.w-60 {
  width: 60%;
}

.card {
  width: 18rem;
  border: 2px solid #fff !important;
  border-radius: 0 !important;
  box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 10%), 0px 1px 3px 0px rgb(0 0 0 / 8%);
}

.card img {
  height: 180px;
}

.text-link {
  color: blue;
}

.outlined-card {
  padding: 15px;
  border: 1px solid #ddd;
  gap: 10px;
}

.outlined-card > p {
  font-size: small;
}

.card-button {
  padding: 0.6rem 0.3rem;
  background-color: var(--brand-secondary);
  border: none;
  outline: none;
  font-size: larger;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.add-fav:not(:disabled):hover {
  transition: transform 0.3s ease;
  transform: scale(1.03);
  background-color: #028d5d;
}

.add-fav[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.credits {
  opacity: 0.5;
  text-align: center;
  font-size: small;
}

.lists {
  background-color: var(--bg-body);
}

.list-items-container {
  padding: 1rem 0;
  margin-top: 1rem;
  background-color: var(--bg-default);
  color: var(--body-text);
  border-radius: 5px;
  border: 1px solid #938c8c38;
}

.list-items-container > h1 {
  padding: 0 1rem 1rem;
}

ul{
  padding: 0 !important;
}

.list-items-container .item {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 1rem 2rem;
  border-top: 1px solid #938c8c30;
}

.check-icon {
  color: var(--brand-secondary);
  font-size: 1.5rem;
  flex-shrink: 0;
}

.footer {
  display: flex;
  height: 50vh;
  background-color: var(--bg-body);
  flex-shrink: 0;
  align-items: flex-start;
}

@media screen and (max-width: 667px) {
  .details {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 520px) {
  .margin-container {
    padding: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .card {
    right: 0;
  }
}

@media only screen and (max-width: 1215px) {
  .text-container,
  .list-items-container {
    width: 100%;
  }

  .details {
    flex-direction: column;
  }

  .card {
    position: static !important;
    float: none !important;
  }
}
