.logo-link {
  text-decoration: none;
  color: var(--brand-primary);
  font-size: 0.5rem;
}

.margin-container {
  padding: 1rem 20%;
}

.details-container {
  position: relative;
}

.details {
  background-color: #333;
  display: flex;
  flex-direction: row;
}

.shared-width {
  width: 60%;
}

.text-container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 15px 0;
}

.semi-bold {
  font-weight: 400;
}

.icons-container {
  color: orange;
}

.colored-title {
  color: var(--brand-secondary);
  font-weight: 600;
  font-size: large;
}

.course-title {
  font-size: x-large;
}

.card {
  width: 18rem;
  margin-top: 1rem;
  border: 2px solid #fff;
  background-color: #fff;
  position: absolute;
  box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 10%), 0px 1px 3px 0px rgb(0 0 0 / 8%);
}

.card img {
  width: 100%;
  object-fit: cover;
  height: 180px;
}

.card-outside-details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-outside-details div h3 {
  font-size: medium;
  display: inline;
}

.card-outside-details .text-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.outlined-card {
  padding: 15px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.outlined-card > p {
  font-size: small;
}

.card-button {
  padding: 0.6rem 0.3rem;
  background-color: var(--brand-secondary);
  border: none;
  outline: none;
  font-size: larger;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.add-fav:not(:disabled):hover {
  transition: transform 0.3s ease;
  transform: scale(1.03);
  background-color: #028d5d;
}

.add-fav[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.credits {
  opacity: 0.5;
  text-align: center;
  font-size: small;
}

.lists {
  background-color: var(--bg-body);
}

.list-items-container {
  padding: 1rem 0;
  margin-top: 1rem;
  background-color: var(--bg-default);
  color: var(--body-text);
  border-radius: 5px;
  border: 1px solid #938c8c38;
}

.list-items-container > h1 {
  padding: 0 1rem 1rem;
}

.list-items-container .item {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 1rem 2rem;
  border-top: 1px solid #938c8c30;
}

.check-icon {
  color: var(--brand-secondary);
  font-size: 1.5rem;
}

.footer {
  display: flex;
  height: 50vh;
  background-color: var(--bg-body);
  flex-shrink: 0;
  align-items: flex-start;
}
