@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap");

:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg-default: #ffffff;
  --bg-body: #eff9ff;
  --lines-color: #938c8c;
  --body-text: #333333;
  --heart-color: #dc143c;
}

:root.dark-mode {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg-default: #1a1a1a;
  --bg-body: #282828;
  --lines-color: #938c8c;
  --body-text: #ededed;
  --heart-color: #dc143c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", "Times New Roman", sans-serif, Times, serif;
}

body {
  background-color: var(--bg-default);
}

/* Adding Header and Footer CSS Here */
