@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;800&display=swap");

:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg-default: #ffffff;
  --bg-body: #eff9ff;
  --lines-color: #938c8c;
  --body-text: #333333;
  --heart-color: #dc143c;
}

:root.dark-mode {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg-default: #1a1a1a;
  --bg-body: #282828;
  --lines-color: #938c8c;
  --body-text: #ededed;
  --heart-color: #dc143c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", "Times New Roman", sans-serif, Times, serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--bg-default);
  display: flex;
  flex-direction: column;
}

/* Start Styling Header */
header {
  flex-shrink: 0;
}

.container {
  margin: 0 2.5em;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  align-items: center;
}

.logo {
  font-size: 0.95em;
  font-weight: 600;
  color: var(--brand-primary);
}

.toggle-buttons {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.toggle-button {
  color: var(--body-text);
  padding: 4px 11px;
  display: flex;
  gap: 5px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #938c8c63;
  cursor: pointer;
  font-size: 1rem;
  align-items: center;
  justify-content: space-around;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.8em;
}

.blue-triangle {
  z-index: 1;
  width: 100%;
  height: 10vh;
  position: absolute;
  background: linear-gradient(
    45deg,
    var(--brand-primary),
    rgb(5, 155, 145) 61%,
    rgb(5 105 175 / 2%)
  );
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.green-triangle {
  width: 100%;
  height: 10vh;
  clip-path: polygon(100% 0, 100% 100%, 0 0);
  background-color: var(--brand-secondary);
}

.welcoming-container {
  margin-left: 2rem;
  color: var(--body-text);
  transform: translateY(-10px);
  line-height: 1.2;
}

.welcoming-container > h2 {
  color: var(--brand-secondary);
  font-size: larger;
  font-weight: 800;
}

/* End Styling Header */

/* Start Styling Search Bar */

.search-bar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--bg-default);
  box-shadow: -3px 0px 10px -1px rgb(0 0 0 / 15%);
}

.search-input {
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  margin-left: 0.7rem;
}

.search-input > input {
  color: var(--body-text);
  background-color: var(--bg_default);
  border: 0px;
  width: 100%;
  padding-left: 2.7rem;
  font-size: 1rem;
  height: 100%;
}

.filter-container {
  display: flex;
  font-size: 13px;
}

.select-container {
  display: flex;
  height: -webkit-fill-available;
  padding: 5px 10px;
  border-left: 1px solid #938c8c63;
  flex-direction: column;
  justify-content: center;
}

.select-label {
  margin-left: 3px;
  font-size: 11px;
}

.filter-container select {
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  background: transparent;
  color: var(--body-text);
  width: 110px;
  font-size: 14px;
}
/* End Styling Search bar */

/* Start Styling Favorites Popup */
#popup-container {
  position: fixed;
  bottom: 0;
  height: 35vh;
  padding: 1.2rem;
  background-color: var(--bg-default);
  z-index: 999;
  width: 100vw;
  color: var(--body-text);
  display: none;
  overflow-y: scroll;
}

.show {
  display: block;
}

.favorites-container {
  margin-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.fav-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  font-size: 1.7rem;
  color: var(--brand-primary);
  cursor: pointer;
}

.delete-btn:hover {
  transition: transform 0.3s ease;
  transform: scale(1.2);
  color: #028d8d;
}

.fav-card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-default);
  width: 150px;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0px 0px 1px 1px #5e5a5a29;
}

.fav-img {
  height: 70px;
}

.rates-container {
  color: orange;
}

.card-info {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.delete-card-btn {
  align-self: end;
  font-size: large;
  color: var(--brand-primary);
  cursor: pointer;
}

/* End Styling Favorites Popup */

footer {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  color: var(--body-text);
  bottom: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .colored-icon {
  color: var(--heart-color);
  width: 1.2em;
  height: 1.2em;
  margin: 0 5px;
}

button:hover {
  background-color: var(--brand-primary);
  color: white;
}
