/* Start Styling Header */
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0.7em;
  margin: 0 2.5em;
  align-items: center;
}

.logo {
  font-size: 1em;
  color: var(--brand-primary);
}

.header-buttons {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.header-button {
  color: var(--body-text);
  padding: 5px 13px;
  display: flex;
  gap: 5px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--lines-color);
  cursor: pointer;
  font-size: 1rem;
  align-items: center;
  justify-content: space-around;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.triangle-container {
  width: 100%;

  position: relative;
}

.blue-triangle {
  position: absolute;
  z-index: 1;
  border-top: 10vh solid var(--brand-primary);
  border-right: 98vw solid transparent;
  /* border-style: solid;
  border-width: 10vh 0 0 100vw;
  border-image: linear-gradient(to bottom right, var(--brand-primary), var(--brand-secondary)) 1; */
}

.green-triangle {
  border-top: 10vh solid var(--brand-secondary);
  border-left: 98vw solid transparent;
}

.welcoming-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  margin-bottom: 1rem;
  color: var(--body-text);
}

.welcoming-container > h2 {
  color: var(--brand-secondary);
}

/* End Styling Header */

/* Start Styling Main */
/* Start Styling Search Bar */
main {
  background-color: var(--bg-body);
  padding-top: 1rem;
  color: var(--body-text);
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin: 0 2.5em;
  border-radius: 0.5rem;
  background-color: var(--bg-default);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.search-input {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.search-input > input {
  color: var(--body-text);
  background-color: var(--bg_default);
  border: 0;
  outline: 0;
  padding: 1rem;
  width: 100%;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.select-menu {
  border-left: 1px solid var(--lines-color);
  padding: 5px 15px;
}

.filter-container select {
  border: none;
  outline: none;
  background: transparent;
  color: var(--body-text);
  width: 110px;
}
/* End Styling Search bar */
/* Start Styling Courses Section */

.courses-container {
  display: flex;
  margin: 0 2.5em;
  flex-direction: column-reverse;
}

h2.title {
  margin: 1.2rem 0;
}

.courses {
  display: flex;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.course {
  margin-bottom: 2rem;
  background-color: var(--bg-default);
  width: 17.5vw;
  border-radius: 0.5em;
  overflow: hidden;
}

.course:hover {
  cursor: pointer;
}

.courses img {
  width: 100%;
  height: 200px;
}

.courses img:hover {
  transition: transform 0.3s ease-in;
  transform: scale(1.2);
  overflow: hidden;
}

.info {
  padding: 0.5em 1em 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  height: 41%;
  position: relative;
  background-color: var(--bg-default);
}

.info p {
  font-size: 13px;
}

.head-title {
  margin-bottom: 10px;
}

.rate-container {
  color: orange;
  margin-bottom: 0.9rem;
  font-size: larger;
}
.author-name {
  font-size: 14px;
  color: var(--lines-color);
  font-weight: 600;
}

footer {
  padding-top: 1rem;
  background-color: var(--bg-body);
  text-align: center;
  padding-bottom: 0.5rem;
  color: var(--body-text);
}
/* End Styling Courses Section */
/* End Styling Main */

/* Start Styling Favorites Popup */
#popup-container {
  position: fixed;
  bottom: 0;
  height: 35vh;
  padding: 1.2rem;
  background-color: var(--bg-default);
  z-index: 999;
  width: 100vw;
  color: var(--body-text);
  display: none;
}

.show {
  display: block;
}

.favorites-container {
  margin-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.fav-card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-default);
  width: 150px;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0px 0px 1px 1px #5e5a5a29;
}

.rates-container {
  color: orange;
}

.card-info {
  padding: 0.5rem;
}
/* End Styling Favorites Popup */
