/* Start Styling Main */

main {
  flex-grow: 1;
  background-color: var(--bg-body);
  padding-top: 1rem;
  color: var(--body-text);
}

/* Start Styling Courses Section */

.courses-container {
  display: flex;
  margin: 0 2.5em;
  flex-direction: column;
}

.searched-title {
  margin: 1.2rem 0;
}

.courses {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.courses.justify-flex-start {
  justify-content: flex-start;
}

.course {
  margin-bottom: 2rem;
  background-color: var(--bg-default);
  width: 17.5vw;
  border-radius: 0.5em;
  overflow: hidden;
}

.course:hover {
  cursor: pointer;
}

.courses img {
  width: 100%;
  height: 200px;
  background-color: white;
}

.courses img:hover {
  transition: transform 0.3s ease-in;
  transform: scale(1.2);
  overflow: hidden;
}

.info {
  padding: 0.5em 1em 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  height: 41%;
  position: relative;
  background-color: var(--bg-default);
}

.info p {
  font-size: 13px;
}

.head-title {
  margin-bottom: 10px;
}

.rate-container {
  color: orange;
  margin-bottom: 0.9rem;
  font-size: larger;
}
.author-name {
  font-size: 14px;
  color: var(--lines-color);
  font-weight: 600;
}

footer {
  padding-top: 1rem;
  background-color: var(--bg-body);
  text-align: center;
  padding-bottom: 0.5rem;
  color: var(--body-text);
  bottom: 0;
  flex-shrink: 0;
}
/* End Styling Courses Section */

/* End Styling Main */
