/* Start Styling Header */
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: 0 2.5em;
  align-items: center;
}

.logo {
  color: var(--brand-primary);
}

.header-buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.header-button {
  padding: 0.5em;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--lines-color);
  cursor: pointer;
  font-size: 1rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.triangle-container {
  position: relative;
}

.blue-triangle {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  border-top: 10vh solid var(--brand-primary);
  border-right: 100vw solid transparent;
  /* border-style: solid;
  border-width: 10vh 0 0 100vw;
  border-image: linear-gradient(to bottom right, var(--brand-primary), var(--brand-secondary)) 1; */
}

.green-triangle {
  border-top: 10vh solid var(--brand-secondary);
  border-left: 100vw solid transparent;
}

.welcoming-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  margin-bottom: 1rem;
}

.welcoming-container > h2 {
  color: var(--brand-secondary);
}

@media only screen and (max-width: 800px) {
  .header-button span {
    display: none;
  }

  .green-triangle {
    border-top: 7vh solid var(--brand-secondary);
  }

  .blue-triangle {
    border-top: 7vh solid var(--brand-primary);
  }
}
/* End Styling Header */

/* Start Styling Main Search Bar */
main {
  height: 100vh;
  background-color: #eff9ff;
  padding-top: 1rem;
  color: var(--body-text);
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin: 0 2rem 1rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.search-input {
  padding-left: 2rem;
  display: flex;
  align-items: center;
}

.search-input > input {
  color: var(--body-text);
  background-color: var(--bg_default);
  border: 0;
  outline: 0;
  padding: 1rem;
  width: 100%;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.sort {
  border-left: 1px solid var(--lines-color);
  padding: 5px 15px;
}
.filter {
  border-left: 1px solid var(--lines-color);
  padding: 5px 15px;
}

.filter-container select {
  border: none;
  outline: none;
  background: transparent;
  color: var(--body-text);
  width: 110px;
}

@media only screen and (max-width: 650px) {
  .search-input {
    width: 90%;
  }
  
  .filter-container {
    border-top: 1px solid var(--lines-color);
    width: 100%;
    justify-content: space-between;
  }
}
/* End Styling Main Search Bar */
